{% extends 'emailBase.html.twig' %}

{% block title %}Email de No Pago{% endblock %}

 {% block stylesheets %}
     {{ parent() }}

 {% endblock %}


{% block body %}
    {{ parent() }}




    <table class="body-wrap" bgcolor="">
        <tr>
            <td></td>
            <td class="container" align="" bgcolor="#FFFFFF">

                <!-- content -->


                {#Cuando toido esta confirmado#}
                <div class="content">
                    <table>
                        <tr>
                            <td>

                                <h2>Estimad@ *Nombre Usuario*:</h2>
                                <p class="lead">Ante todo tenga usted un excelente día, le escribimos este correo para
                                    informarle que no hemos recibido la notificación de Pago de sus servicios ya confirmados por nuestro equipo en el correo anterior. Si aún
                                    desea usar estos servicios le dejamos el link para realizar el pago.

                                </p>

                                <!-- A Real Hero (and a real human being) -->
                                {#<p><img src="http://placehold.it/600x300" /></p><!-- /hero -->#}
                                <p>Atentamente, <a href="#">Equipo Cuba GPS! &raquo;</a></p>
                            </td>
                        </tr>
                    </table>
                </div><!-- /content -->


                <div class="content">
                    <table bgcolor="">
                        <tr>
                            <td align="center">

                                <!-- Callout Panel -->
                                <h3><a class="btn">Efectuar Pago </a></h3>

                            </td>
                        </tr>
                    </table>
                </div>


                    {#Aki se adjunta el Baucher#}


            </td>
            <td></td>
        </tr>
    </table><!-- /BODY -->



{% endblock %}

   {% block footer %}
       {{ parent() }}
   {% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}
