<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Travel Cuba GPS">
    <meta name=”google” content=”nositelinkssearchbox”>
    <meta name=”generator” content="Symfony 4.0">

    <link rel="icon" type="image/png" href="{{ asset('build/img/favicon.png') }}">
</head>
<body>

<img class="img" style="width: 100%;height: 100%" src="{{ asset('build/img/contruction.jpg') }}" alt="">


</body>

</html>