{% extends 'backendBase.html.twig' %}

{% block body %}

    <a href="" data-toggle="modal" data-target="#insertCarModal">
        Insertar Carro
    </a>

    <!-- Modal insert car-->
    <div class="portfolio-modal modal fade" id="insertCarModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                asdsdsdsdsdsdsd
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
{% endblock %}