<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{ asset('build/css/construction.css') }}" rel="stylesheet">
    <title>Cuba GPS</title>
    <link rel="icon" type="image/png" href="{{ asset('build/img/favicon.png') }}">

</head>

<body>


</body>

<footer>

</footer>

</html>
