<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Travel Cuba GPS">
    <meta name=”google” content=”nositelinkssearchbox”>
    <meta name=”generator” content="Symfony 4.0">


    <title>Travel {% block title %} Cuba GPS | {{ app.session.get('language') == 'es'? 'Oficial':'Official' }}{% endblock %}</title>



</head>


<body>
<div class="container">
    <div class="row">
        <div>
            <center>
                <img src="{{ asset('build/img/logooficial.png') }}"
                     width="200" height="100"
                     class="d-inline-block align-top" alt="logo cubagps">
            </center>
        </div>

        <div>
            <h4 id="paquetes" class="section-heading text-uppercase"> Nombre y Apellidos:</h4>
            <p> #nombre y apellidos</p>
        </div>

        <div>
            <h4 id="paquetes" class="section-heading text-uppercase"> Cantidad de personas:</h4>
            <p> #cantidad</p>
        </div>

        <div>
            <h4 id="paquetes" class="section-heading text-uppercase"> Servicios:</h4>
            <p> #Renta de casa</p>
            <p> #Paquete</p>
        </div>

        <div>
            <h4 id="paquetes" class="section-heading text-uppercase"> Cantidad de días:</h4>
            <p> #cantidad</p>
        </div>

        <div>
            <h4 id="paquetes" class="section-heading text-uppercase"> Cantidad de Habitaciones:</h4>
            <p> #cantidad</p>
        </div>

        <div>
            <h4 id="paquetes" class="section-heading text-uppercase"> Fecha Entrada:</h4>
            <p> #fechaentrada</p>
        </div>

        <div style="margin-bottom: 50px">
            <h4 id="paquetes" class="section-heading text-uppercase"> Fecha Salida:</h4>
            <p> #fechasalida</p>
        </div>


        {##}

        <div>
            <p id="paquetes" class="section-heading text-uppercase">#dias días en Cuba para un <strong>total de #precioTotal USD</strong></p>

        </div>

        <div>
            <p id="paquetes" class="section-heading text-uppercase"> Precio por día <strong>#precio USD</strong></p>

        </div>

        <div>
            <p id="paquetes" class="section-heading text-uppercase"> Precio por persona <strong>#precio USD</strong></p>

        </div>

        <div  style="margin-bottom: 50px">
            <p id="paquetes" class="section-heading text-uppercase"> Precio por persona cada día <strong>#precio USD</strong></p>

        </div>

        {##}

        <div>
            <h4 id="paquetes" class="section-heading text-uppercase"> El Programa por día : #ponerServicio</h4>
            <p> #Aki van los servicios ejemplo si es casa, las casa que alquilaron </p>
            <p> #Si es carro los tranker o los tour o lo que sea la reservacion </p>
            <p> #Horarios #En caso de excursiones poner exurciones y los horarios  </p>
            <p> #Paquetes lo mismo</p>
        </div>


        <div>
            <center>
                <div>
                <img src="{{ asset('build/img/logooficial.png') }}"
                     width="200" height="100"
                     class="d-inline-block align-top" alt="logo cubagps">
                </div>
                <div>
                    <a href="https://www.travelcubagps.com">www.travelcubagps.com</a>
                    <a href="https://www.facebook.com/cubagps/">Facebook/cubagps</a>
                    <a href="https://www.instagram.com/cubagps/">instagram/@cubagps</a>
                    <div>
                    <p >Mail/contact@travelcubagps.com</p>
                    <p >Phone/+53 53969643</p>
                    </div>
                </div>
            </center>
        </div>

    </div>

</div>

</body>


<footer>


</footer>


</html>