<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Travel Cuba GPS">
    <meta name=”google” content=”nositelinkssearchbox”>
    <meta name=”generator” content="Symfony 4.0">


    <title>Travel {% block title %} Cuba GPS | {{ app.session.get('language') == 'es'? 'Oficial':'Official' }}{% endblock %}</title>

    <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
        .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
        .tg .tg-uys7{border-color:inherit;text-align:center}
        .tg .tg-xldj{border-color:inherit;text-align:left}
        .tg .tg-quj4{border-color:inherit;text-align:right}
    </style>

</head>


<body>
<div class="container">
    <div class="row">
        <center>



        <div>

                <img src="{{ asset('build/img/logooficial.png') }}"
                     width="200" height="100"
                     class="d-inline-block align-top" alt="logo cubagps">

        </div>

            <br>
            <br>

            <table class="tg">
                <tr>
                    <th class="tg-xldj" colspan="3"><strong>Reservación</strong><br></th>
                    <th class="tg-quj4" colspan="2"><strong>Folio: 100</strong></th>
                </tr>
                <tr>

                    <td class="tg-uys7"><strong>Nombre y Apellidos</strong></td>
                    <td class="tg-uys7"><strong>Cantidad de personas</strong></td>
                    <td class="tg-uys7"><strong>Cantidad de días</strong></td>
                    <td class="tg-uys7"><strong>Fecha Entrada</strong></td>
                    <td class="tg-uys7"><strong>Fecha Salida</strong></td>

                </tr>
                <tr>
                    <td class="tg-xldj">#Marcos alvarez gallardo</td>
                    <td class="tg-xldj">#3</td>
                    <td class="tg-xldj">#4</td>
                    <td class="tg-xldj">#10-5-2019</td>
                    <td class="tg-xldj">#14-5-2019</td>
                </tr>



            <br>
            <br>



                <tr>
                    <th class="tg-xldj" colspan="2"><strong>Programa por día</strong><br></th>
                </tr>
                <tr>
                    <td class="tg-xldj" colspan="2">Servicios</td>
                </tr>
                <tr>
                    <td class="tg-0pky" colspan="2">#Si es carro los tranfer o los tour o lo que sea la reservacion</td>
                </tr>
                <tr>
                    <td class="tg-0pky" colspan="2">#Horarios #En caso de excursiones poner exurciones y los horarios</td>
                </tr>
                <tr>
                    <td class="tg-0pky" colspan="2">#Paquetes lo mismo</td>
                </tr>
                <tr>
                    <td class="tg-xldj" colspan="2">#Aki van los servicios ejemplo si es casa, las casa que alquilaron</td>
                </tr>


            <br>
            <br>



                <tr>
                    <th class="tg-s268">Precio por día</th>
                    <th class="tg-s268"><strong>#precio USD</strong></th>
                </tr>
                <tr>
                    <td class="tg-s268">Precio por persona</td>
                    <td class="tg-s268"><strong>#precio USD</strong></td>
                </tr>
                <tr>
                    <td class="tg-s268">Precio por persona cada día</td>
                    <td class="tg-s268"><strong>#precio USD</strong></td>
                </tr>
                <tr>
                    <td class="tg-s268">Total</td>
                    <td class="tg-s268"><strong>#precio USD</strong></td>
                </tr>
            </table>






            <br>
            <br>



        <div>

                <div>
                <img src="{{ asset('build/img/logooficial.png') }}"
                     width="200" height="100"
                     class="d-inline-block align-top" alt="logo cubagps">
                </div>
                <div>
                    <a href="https://www.travelcubagps.com">www.travelcubagps.com</a>
                    <a href="https://www.facebook.com/cubagps/">Facebook/cubagps</a>
                    <a href="https://www.instagram.com/cubagps/">instagram/@cubagps</a>
                    <div>
                    <p >Mail/contact@travelcubagps.com</p>
                    <p >Phone/+53 53969643</p>
                    </div>
                </div>

        </div>
        </center>
    </div>

</div>

</body>


<footer>


</footer>


</html>