<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Travel Cuba GPS">
    <meta name=”google” content=”nositelinkssearchbox”>
    <meta name=”generator” content="Symfony 4.0">


    <title>Travel {% block title %} Cuba GPS | {{ app.session.get('language') == 'es'? 'Oficial':'Official' }}{% endblock %}</title>



</head>


<body>


<img src="{{ asset('build/img/logooficial.png') }}"
     width="130" height="50"
     class="d-inline-block align-top" alt="">


</body>


<footer>


</footer>


</html>