<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>Bienvenidos a CubaGPS Hosting</title>

        <!-- CSS styles -->
        <link href="marcoss94/estilo.css" rel="stylesheet">

        
    </head>

    <body>

	
	<center>
	<img class="im" src="UNDER CONSTRUCTION.png" alt=""></center>
	
             
    </body>

</html>
