<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <!-- If you delete this meta tag, the ground will open and swallow you. -->
    <meta name="viewport" content="width=device-width" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block title %}Email{% endblock %}</title>

    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/css/email.css') }}" >
    {% endblock %}
</head>



<body bgcolor="#FFFFFF" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">

{% block body %}

    <table class="head-wrap">
        <tr>
            <td></td>
            <td class="header container" align="">

                <!-- /content -->
                <div class="content">
                    <table>
                        <tr>
                            <td><img src="https://www.travelcubagps.com/build/img/logo.png"
                                     width="140" height="50"
                                     class="d-inline-block align-top" alt="Logo cubaGPS"></td>


                            {#<td align="right"><h6 class="collapse">Newsletter</h6></td>#}
                        </tr>
                    </table>
                </div><!-- /content -->

            </td>
            <td></td>
        </tr>
    </table>







{% endblock %}


{% block footer %}

    <div class="content">
        <table bgcolor="">
            <tr>
                <td>

                    <!-- social & contact -->
                    <table bgcolor="" class="social" width="100%">
                        <tr>
                            <td>

                                <!--- column 1 -->
                                <div class="column">
                                    <table bgcolor="" cellpadding="" align="left">
                                        <tr>
                                            <td>

                                                <h5 class="" >Conecta con nosotros:</h5>
                                                <p class=""><a href="https://www.facebook.com/cubagps/" class="soc-btn fb">Facebook</a> <a href="https://www.instagram.com/cubagps/" class="soc-btn tw">Instagram</a></p>


                                            </td>
                                        </tr>
                                    </table><!-- /column 1 -->
                                </div>

                                <!--- column 2 -->
                                <div class="column">
                                    <table bgcolor="" cellpadding="" align="left">
                                        <tr>
                                            <td>

<<<<<<< HEAD
                                                <h5 class="" >Contáctenos:</h5>
                                                <p>Phone: <strong>+53 53969643</strong><br/>
=======
                                                <h5 class="" style="color: white">Contáctenos:</h5>
                                                <p style="color: white">Phone: <strong>+53 53969643</strong><br/>
>>>>>>> f06623ba093f37976c881dd7e41c797d882dbe6a
                                                    Email: <strong><a href="mailto:contact@travelcubagps.com">contact@travelcubagps.com</a></strong></p>

                                            </td>
                                        </tr>
                                    </table><!-- /column 2 -->
                                </div>

                                <div class="clear"></div>

                            </td>
                        </tr>
                    </table><!-- /social & contact -->

                </td>
            </tr>
        </table>
    </div><!-- /content -->


    <table class="footer-wrap">
        <tr>
            <td></td>
            <td class="container">

                <!-- content -->
                <div class="content">
                    <table>
                        <tr>
                            <td align="center">
                                <p>
                                    <a href="https://www.travelcubagps.com/blog/politicas">Políticas de Privacidad</a> |
                                    <a href="https://www.travelcubagps.com/blog/reservaCancelacion">Políticas de Reserva y Cancelación</a> |
                                    <a href="https://www.travelcubagps.com/blog/preguntasFrecuentes">Preguntas Frecuentes</a>

                                </p>
                            </td>
                        </tr>
                    </table>
                </div><!-- /content -->

            </td>
            <td></td>
        </tr>
    </table><!-- /FOOTER -->

{% endblock %}

{% block javascripts %}

{% endblock %}

</body>
</html>